
#logo{
    margin-top: 0;
    display: inline-block;
}


@font-face
{
    font-family: Goldman;
    src: url('../Fonts/Goldman-Bold.ttf');
    font-display: fallback;
}

body
{
    margin: 0 auto;
    background-image: url('../Images/background.webp');
    background-size: 100%;
}

#registertext
{
    font-family: 'Goldman', sans-serif;
    margin-top: 0;
    margin-bottom: -3.5%;
    text-align: center;
    font-size: 2em;
}

#firstnamediv
{
    display: inline-block;
}

#lastnamediv
{
    display: inline-block;
}

#datediv
{
    display: inline-block;
}

#emaildiv
{
    display: inline-block;
}

#passworddiv
{
    display: inline-block;
}

#passwordconfirmdiv
{
    display: inline-block;
}

#streetdiv
{
    display: inline-block;
}

#housenumberdiv
{
    display: inline-block;
}

#districtdiv
{
    display: inline-block;
}

#citydiv
{
    display: inline-block;
}


#backgrounddarkener
{
    transition-duration: 0.5s;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

form 
{
    background: #FFF;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0.15em;
    border: 3px solid #CCC;
    border-radius: 0.9em;
    box-shadow: 0.0em 0.0em 0.5em 0.05em #000;
}

label 
{
    font: 1em sans-serif;
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-left: 4%;
}

input
{
    transition-duration: 1s;
    font: 2em sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0.15em solid #999;
    border-radius: 0.25em;
}

input:focus
{
    outline:none;
}

textarea 
{
    vertical-align: center;
    resize: vertical;
}

#clearbutton
{
    transition-duration: 1s;
    display: inline-block;
    margin-top: 1em;
    font-size: 1em;
    float:right;
    margin-right: 5%;
    font-family: Goldman, sans-serif;
    border: 0.3em solid #F44;
    border-radius: 0.4em;
    background-color: #F66;
    padding: 1em 0.6em;
    box-shadow: 0 0.1em 0.4em;
}

#submitbutton
{
    transition-duration: 1s;
    display: inline-block;
    margin-top: 1em;
    font-size: 1em;
    float: right;
    font-family: Goldman, sans-serif;
    border: 0.3em solid #4F4;
    border-radius: 0.4em;
    background-color: #6F6;
    padding: 1em 0;
    box-shadow: 0 0.1em 0.4em;
    margin-right: 2.5%;
}

#firsthalf
{
    width: 100%;
    background-color: #ACF;
    border-radius: 20px;
}

#firsthalfcontent, #secondhalfcontent
{
    transform: scale(0.95);
}

#secondhalf
{
    margin-top: -2.5%;
    width: 100%;
    background-color: #CCF;
    border-radius: 20px;
}

#login-external
{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-family: Goldman, sans-serif;
    display: block;
}

#logo-facebook
{
    display: inline-block;
    margin-top: 1%;
}

#logo-google
{
    margin-left: 1%;
    display: inline-block;
}

#logo-amazon
{
    margin-left: 1%;
    display: inline-block;
}

@media screen and (max-width: 600px)
{

    body
    {
        margin: 0 auto;
    }

    form
    {
        max-width: 100%;
        width: 90%;
    }

    form div + div
    {
        margin-top: 0.9em;
    }

    label
    {
        font-size: 0.9em;
    }

    input
    {
        font-size: 1em;
    }

    input:focus
    {
        outline:none;
    }

    textarea
    {
        vertical-align: center;
        height: 1em;
        resize: vertical;
    }

    #firstname
    {
        width: 100%;
    }

    #lastname
    {
        width: 100%;
    }

    #dateofbirth
    {
        width: 100%;
    }

    #email
    {
        width: 100%;
    }

    #password
    {
        width: 100%;
    }

    #passwordconfirm
    {
        width: 100%;
    }

    #street
    {
        width: 100%;
    }

    #housenumber
    {
        width: 100%;
    }

    #district
    {
        width: 100%;
    }

    #city
    {
        width: 100%;
    }

    /*CSS Form Block Divs */
    #firstnamediv
    {
        width: 100%;
    }

    #lastnamediv
    {
        width: 100%;
    }
    
    #datediv
    {
        width:35%;
    }
    
    #emaildiv
    {
        width:64%;
    }
    
    #passworddiv
    {
        width:100%;
    }
    
    #passwordconfirmdiv
    {
        width:100%;
    }
    
    #streetdiv
    {
        width: 70%;
    }
    
    #housenumberdiv
    {
        width: 29%;
    }
    
    #districtdiv
    {
        width: 100%;
    }
    
    #citydiv
    {
        width: 100%;
    }
    
    #clearbutton
    {
        font-size: 0.75em;
        margin-top: 1.75em;
    }

    #submitbutton
    {
        font-size: 0.75em;
        margin-top: 1.75em;
    }

    #logo
    {
        display: block;
        margin: 0.5em auto;
    }

    #registertext
    {
        text-align: center;
        font: 1.8em Goldman;
    }

    h2
    {
        font: 1.5em Goldman;
        margin-bottom: 0;
    }

    #text_error_name
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #text_error_last_name
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #date_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #email_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #password_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #password_confirm_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #street_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #house_number_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #district_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #city_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

}

@media screen and (min-width: 600px)
{

    body
    {
        margin: 0 auto;
    }

    form
    {
        max-width: 100%;
        width: 88%;
    }

    form div + div
    {
        margin-top: 0.9em;
    }

    label
    {
        font-size: 0.95em;
    }

    input
    {
        font-size: 1.1em;
    }

    input:focus
    {
        outline:none;
    }

    textarea
    {
        vertical-align: center;
        height: 1em;
        resize: vertical;
    }

    #firstname
    {
        width: 100%;
    }

    #lastname
    {
        width: 100%;
    }

    #dateofbirth
    {
        width: 100%;
    }

    #email
    {
        width: 100%;
    }

    #password
    {
        width: 100%;
    }

    #passwordconfirm
    {
        width: 100%;
    }

    #street
    {
        width: 100%;
    }

    #housenumber
    {
        width: 100%;
    }
    
    #district
    {
        width: 100%;
    }

    #city
    {
        width: 100%;
    }

    /*CSS Form Block Divs */
    #firstnamediv
    {
        width: 100%;
    }

    #lastnamediv
    {
        width: 100%;
    }
    
    #datediv
    {
        width:35%;
    }
    
    #emaildiv
    {
        width:64%;
    }
    
    #passworddiv
    {
        width:100%;
    }
    
    #passwordconfirmdiv
    {
        width:100%;
    }
    
    #streetdiv
    {
        width: 70%;
    }
    
    #housenumberdiv
    {
        width: 29%;
    }
    
    #districtdiv
    {
        width: 100%;
    }
    
    #citydiv
    {
        width: 100%;
    }

    #clearbutton
    {
        font-size: 0.80em;
        margin-top: 1.6em;
    }

    #submitbutton
    {
        font-size: 0.80em;
        margin-top: 1.6em;
    }

    #logo
    {
        display: block;
        margin: 0.5em auto;
    }

    #registertext
    {
        text-align: center;
        font: 1.8em Goldman;
    }

    h2
    {
        font: 1.5em Goldman;
        margin-bottom: 0;
    }

    #text_error_name
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #text_error_last_name
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #date_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #email_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #password_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #password_confirm_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #street_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #house_number_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #district_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #city_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }
}

@media screen and (min-width: 800px)
{

    body
    {
        margin: 0 auto;
    }

    form
    {
        max-width: 100%;
        width: 85%;
    }

    form div + div
    {
        margin-top: 0.8em;
    }

    label
    {
        font-size: 1em;
    }

    input
    {
        font-size: 1.2em;
    }

    input:focus
    {
        outline:none;
    }

    textarea
    {
        vertical-align: center;
        height: 1em;
        resize: vertical;
    }

    #firstname
    {
        width: 100%;
    }

    #lastname
    {
        width: 100%;
    }

    #dateofbirth
    {
        width: 100%;
    }

    #email
    {
        margin-left: 2%;
        width: 100%;
    }

    #password
    {
        width: 100%;
    }

    #passwordconfirm
    {
        width: 100%;
        margin-left: 2%;
    }

    #street
    {
        width: 100%;
    }

    #housenumber
    {
        width: 100%;
    }
    
    #district
    {
        width: 100%;
    }

    #city
    {
        width: 100%;
    }

    /*CSS Form Block Divs */
    #firstnamediv
    {
        width: 49.7%;
    }

    #lastnamediv
    {
        width: 49.7%;
    }
    
    #datediv
    {
        width:35%;
    }
    
    #emaildiv
    {
        width:63.2%;
    }
    
    #passworddiv
    {
        width:49.4%;
    }
    
    #passwordconfirmdiv
    {
        width:49.1%;
    }
    
    #streetdiv
    {
        width: 70%;
    }
    
    #housenumberdiv
    {
        width: 29.4%;
    }
    
    #districtdiv
    {
        width: 49%;
    }
    
    #citydiv
    {
        width: 50.4%;
    }

    #clearbutton
    {
        font-size: 0.85em;
        margin-top: 1.5em;
    }

    #submitbutton
    {
        font-size: 0.85em;
        margin-top: 1.5em;
    }

    #logo
    {
        display: block;
        margin: 0.5em auto;
    }

    #registertext
    {
        text-align: center;
        font: 2em Goldman;
    }

    h2
    {
        font: 1.8em Goldman;
        margin-bottom: 0;
    }

    #text_error_name
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #text_error_last_name
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #date_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #email_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #password_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #password_confirm_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #street_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #house_number_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #district_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #city_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }
}

@media screen and (min-width:992px)
{

    body
    {
        margin: 0 auto;
    }

    form
    {
        max-width: 100%;
        width: 70%;
    }

    form div + div
    {
        margin-top: 0.8em;
    }

    label
    {
        font-size: 1.05em;
    }

    input
    {
        font-size: 1.3em;
    }

    input:focus
    {
        outline:none;
    }

    textarea
    {
        vertical-align: center;
        height: 1em;
        resize: vertical;
    }

    #firstname
    {
        width: 100%;
    }

    #lastname
    {
        width: 100%;
    }

    #dateofbirth
    {
        width: 100%;
    }

    #email
    {
        margin-left: 2%;
        width: 100%;
    }

    #password
    {
        width: 100%;
    }

    #passwordconfirm
    {
        width: 100%;
        margin-left: 2%;
    }

    #street
    {
        width: 100%;
    }

    #housenumber
    {
        width: 100%;
    }

    #district
    {
        width: 100%;
    }

    #city
    {
        width: 100%;
    }

    /*CSS Form Block Divs */
    #firstnamediv
    {
        width: 49.7%;
    }

    #lastnamediv
    {
        width: 49.7%;
    }
    
    #datediv
    {
        width:35%;
    }
    
    #emaildiv
    {
        width:63.2%;
    }
    
    #passworddiv
    {
        width:49.4%;
    }
    
    #passwordconfirmdiv
    {
        width:49.1%;
    }
    
    #streetdiv
    {
        width: 70%;
    }
    
    #housenumberdiv
    {
        width: 29.4%;
    }
    
    #districtdiv
    {
        width: 49%;
    }
    
    #citydiv
    {
        width: 50.4%;
    }

    #clearbutton
    {
        font-size: 0.9em;
        margin-top: 1.25em;
    }

    #submitbutton
    {
        font-size: 0.9em;
        margin-top: 1.25em;
    }

    #logo
    {
        display: block;
        margin: 0.5em auto;
    }

    #registertext
    {
        text-align: center;
        font: 2em Goldman;
    }

    h2
    {
        font: 1.8em Goldman;
        margin-bottom: 0;
    }

    #text_error_name
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #text_error_last_name
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #date_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #email_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #password_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #password_confirm_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #street_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #house_number_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #district_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #city_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }
}

@media screen and (min-width:1350px)
{

    body
    {
        margin: 0 auto;
    }

    form
    {
        max-width: 100%;
        width: 50%;
    }

    form div + div
    {
        margin-top: 0.8em;
    }

    label
    {
        font-size: 1.15em;
    }

    input
    {
        font-size: 1.5em;
    }

    input:focus
    {
        outline:none;
    }

    textarea
    {
        vertical-align: center;
        height: 1em;
        resize: vertical;
    }

    #firstname
    {
        width: 100%;
    }

    #lastname
    {
        width: 100%;
    }

    #dateofbirth
    {
        width: 100%;
    }

    #email
    {
        margin-left: 2%;
        width: 100%;
    }

    #password
    {
        width: 100%;
    }

    #passwordconfirm
    {
        width: 100%;
        margin-left: 2%;
    }

    #street
    {
        width: 100%;
    }

    #housenumber
    {
        width: 100%;
    }

    #district
    {
        width: 100%;
    }

    #city
    {
        width: 100%;
    }

    /*CSS Form Block Divs */
    #firstnamediv
    {
        width: 49.7%;
    }

    #lastnamediv
    {
        width: 49.7%;
    }
    
    #datediv
    {
        width:35%;
    }
    
    #emaildiv
    {
        width:63.2%;
    }
    
    #passworddiv
    {
        width:49.4%;
    }
    
    #passwordconfirmdiv
    {
        width:49.1%;
    }
    
    #streetdiv
    {
        width: 70%;
    }
    
    #housenumberdiv
    {
        width: 29.4%;
    }
    
    #districtdiv
    {
        width: 49%;
    }
    
    #citydiv
    {
        width: 50.4%;
    }

    #clearbutton
    {
        font-size: 0.95em;
        margin-top: 1.11em;
    }

    #submitbutton
    {
        font-size: 0.95em;
        margin-top: 1.1em;
    }
    
    #logo
    {
        display: block;
        margin: 0.5em auto;
    }

    #registertext
    {
        text-align: center;
        font: 2em Goldman;
    }

    h2
    {
        font: 1.8em Goldman;
        margin-bottom: 0;
    }

    #text_error_name
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #text_error_last_name
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #date_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #email_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #password_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #password_confirm_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #street_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #house_number_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #district_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #city_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }
}

@media screen and (min-width:1700px)
{

    body
    {
        margin: 0 auto;
    }

    form
    {
        max-width: 100%;
        width: 40%;
    }

    form div + div
    {
        margin-top: 0.8em;
    }

    label
    {
        font-size: 1.25em;
        display: inline-block;
    }

    input
    {
        font-size: 1.8em;
    }

    input:focus
    {
        outline:none;
    }

    textarea
    {
        vertical-align: center;
        height: 1em;
        resize: vertical;
    }

    #firstname
    {
        width: 100%;
    }

    #lastname
    {
        width: 100%;
    }

    #dateofbirth
    {
        width: 100%;
    }

    #email
    {
        width: 100%;
    }

    #password
    {
        width: 100%;
    }


    #passwordconfirm
    {
        width: 100%;
    }

    #street
    {
        width: 100%;
    }

    #housenumber
    {
        width: 100%;
    }

    #district
    {
        width: 100%;
    }

    #city
    {
        width: 100%;
    }

    /*CSS Form Block Divs */
    #firstnamediv
    {
        width: 49.7%;
    }

    #lastnamediv
    {
        width: 49.7%;
    }
    
    #datediv
    {
        width:35%;
    }
    
    #emaildiv
    {
        width:63.2%;
    }
    
    #passworddiv
    {
        width:49.4%;
    }
    
    #passwordconfirmdiv
    {
        width:49.1%;
    }
    
    #streetdiv
    {
        width: 70%;
    }
    
    #housenumberdiv
    {
        width: 29.4%;
    }
    
    #districtdiv
    {
        width: 49%;
    }
    
    #citydiv
    {
        width: 50.4%;
    }
    
    #clearbutton
    {
        font-size: 1em;
        margin-top: 0.85em;
    }

    #submitbutton
    {
        font-size: 1em;
        margin-top: 0.85em;
    }

    #logo
    {
        display: block;
        margin: 0.5em auto;
    }

    #registertext
    {
        text-align: center;
        font: 2em Goldman;
    }

    h2
    {
        font: 1.8em Goldman;
        margin-bottom: 0;
    }

    #text_error_name
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #text_error_last_name
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #date_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #email_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #password_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #password_confirm_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #street_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #house_number_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #district_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #city_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }
}

@media screen and (min-width:2100px)
{

    body
    {
        margin: 0 auto;
    }

    form
    {
        max-width: 100%;
        width: 32%;
    }

    form div + div
    {
        margin-top: 0.8em;
    }

    label
    {
        font-size: 1em;
    }

    input
    {
        font-size: 1.8em;
    }

    input:focus
    {
        outline:none;
    }

    textarea
    {
        vertical-align: center;
        height: 1em;
        resize: vertical;
    }

    #firstname
    {
        width: 100%;
    }

    #lastname
    {
        width: 100%;
    }

    #dateofbirth
    {
        width: 100%;
    }

    #email
    {
        margin-left: 2%;
        width: 100%;
    }

    #password
    {
        width: 100%;
    }

    #passwordconfirm
    {
        width: 100%;
        margin-left: 2%;
    }

    #street
    {
        width: 100%;
    }

    #housenumber
    {
        width: 100%;
    }

    #district
    {
        width: 100%;
    }

    #city
    {
        width: 100%;
    }

    /*CSS Form Block Divs */
    #firstnamediv
    {
        width: 49.7%;
    }

    #lastnamediv
    {
        width: 49.7%;
    }
    
    #datediv
    {
        width:35%;
    }
    
    #emaildiv
    {
        width:63.2%;
    }
    
    #passworddiv
    {
        width:49.4%;
    }
    
    #passwordconfirmdiv
    {
        width:49.1%;
    }
    
    #streetdiv
    {
        width: 70%;
    }
    
    #housenumberdiv
    {
        width: 29.4%;
    }
    
    #districtdiv
    {
        width: 49%;
    }
    
    #citydiv
    {
        width: 50.4%;
    }

    #clearbutton
    {
        font-size: 1.15em;
        margin-top: 0.5em;
    }

    #submitbutton
    {
        font-size: 1.15em;
        margin-top: 0.5em;
    }

    #logo
    {
        display: block;
        margin: 0.5em auto;
    }

    #registertext
    {
        text-align: center;
        font: 2em Goldman;
    }

    h2
    {
        font: 1.8em Goldman;
        margin-bottom: 0;
    }

    #text_error_name
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #text_error_last_name
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #date_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #email_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #password_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #password_confirm_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #street_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #house_number_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #district_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #city_error
    {
        font: 0.8em Arial Black;
        color: red;
        display:none;
        text-align: center;
        width: 100%;
        margin: 0;
    }
}