@font-face 
{
    font-family: Goldman;
    src: url('../Fonts/Goldman-Bold.ttf');
    font-display: fallback;
}

body
{
    margin: 0 auto;
}

form 
{
    margin-left: 28.5%;
    margin-top: 2%;
    max-width: 100%;
    width: 40%;
    min-width: 350px;
    padding: 1em;
    border: 2px solid #CCC;
    border-radius: 0.75em;
    box-shadow: 0.0em 0.0em 0.5em 0.05em #000;
}

form div + div 
{
    margin-top: 1em;
}

label 
{
    display: inline-block;
    width: 22%;
    text-align: right;
}

input
{
    transition-duration: 1s;
    font: 1em sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0.15em solid #999;
    border-radius: 0.25em;
}

input:focus
{
    outline:none;
}

textarea 
{
    vertical-align: center;
    height: 5em;
    resize: vertical;
}

h1
{
    text-align: center;
}

#firstname
{
    width: 30%;
}

#firstnamelabel
{
    pointer-events: none;
    margin-left: -14%;
}

#lastname
{
    width: 40%;
}

#lastnamelabel
{
    pointer-events: none;
    margin-left: -5%
}

#dateofbirth
{
    width: 25%;
}

#dateofbirthlabel
{
    pointer-events: none;
    margin-left: -1%;
}

#email
{
    width: 40%;
}

#emaillabel
{
    pointer-events: none;
    margin-left: -13%;
}

#password
{
    width: 26%;
}

#passwordlabel
{
    pointer-events: none;
    margin-left: -14%;
}

#passwordconfirm
{
    width: 26%;
}

#passwordconfirmlabel
{
    pointer-events: none;
    margin-left: 13.25%;
}

#street
{
    width: 60%;
}

#streetlabel
{
    pointer-events: none;
    margin-left: -15.8%;
}

#housenumber
{

    width: 18%;
}

#housenumberlabel
{
    pointer-events: none;
    margin-left: -10.8%;
}

#district
{
    width: 40%;
}

#districtlabel
{
    pointer-events: none;
    margin-left: -13.8%;
}

#city
{
    width: 38%;
}

#citylabel
{
    pointer-events: none;
    margin-left: -13%;
}

#submitbutton
{
    margin-top: 2em;
    margin-left: 75%;
    font-size: 18px;
    font-family: Goldman, sans-serif;
}

#logo
{
    display: block;
    margin: 0.5em auto;
}

h1
{
    text-align: center;
    font: 30px Goldman;
}

h2
{
    font: 30px Goldman;

}

h3
{
    font: 100px Goldman;
    margin-top: 10%;
    text-align: center
}

#name_and_last_name
{
    font: 10px Arial Black;
    color: red;
}

#text_error_name
{
    display:none;
    margin-left: 7%;
}

#text_error_last_name
{
    display:none;
    margin-left: 58%;
}

#date_and_email
{
    margin-top: 2em;
    font: 10px Arial Black;
    color: red;
}

#date_error
{
    display:none;
    margin-left: 25%;
}

#email_error
{
    display:none;
    margin-left: 70%;
}

#passwords{
    margin-top: 2em;
    font: 10px Arial Black;
    color: red;

}

#password_error
{
    display:none;
    margin-left: 6%;
}

#password_confirm_error
{
    display:none;
    margin-left: 72%;
}

#street_and_number_error
{
    margin-top: 2em;
    font: 10px Arial Black;
    color: red;
}

#street_error
{
    display:none;
    margin-left: 8%;
}

#house_number_error
{
    display:none;
    margin-left: 82%;
}

#distric_and_city
{
    margin-top: 2em;
    font: 10px Arial Black;
    color: red;
}

#district_error
{
    display:none;
    margin-left: 15%;
}

#city_error
{
    display:none;
    margin-left: 68%;
}
